<div class="modal-bg">
    <div class="modal-container">

        <div class="modal-top">
            <button
                (click) = "exitModal()"
                class="modal-exit-btn"> x 
            </button>
        </div>

        <h2>{{item?.name}}</h2>
        <img class="item-modal-img" [src]="item?.imageUrl" alt="{{ item?.name }}">
        <p>{{item?.description}} {{item?.description}}</p>
        <p>{{item?.description}} {{item?.description}}</p>
        <p>{{item?.description}} {{item?.description}}</p>
        <p>{{item?.description}} {{item?.description}}</p>

        <div class="modal-bottom">
            <button class="modal-default-btn">Comprar</button>
            <button class="modal-default-btn">Carrinho</button>
        </div>

    </div>
</div>